.retângulo  {
    width: 200px;
    height: 100px;
    padding: 20PX ;
    background-color: green;
    border: 2px solid wheat;
    box-shadow:  2px 2px 5px rgb(135, 221, 135);
}
h1, p {  color:white}